
    /* common style start */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --themered: #ed8433;
    --gray: #efefef;
}

html{
    scroll-behavior: smooth;
}
button,
body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.fullcontainer {
    width: 100%;
}

.container{
    width: 1140px;
    margin: auto;
}


header {
    width: 100%;
    background-color: rgba(0, 0, 0.6);
    position: fixed;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    padding: 15px 0;
    height: 75px;
}

header .container .logo img {
    height: 100%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: var(--themered);
}